aiohttp==3.*
aiohttp-utils==3.1.1
aiofiles==0.6.0
anyio==2.0.2
async-timeout==3.0.1
asynctest==0.13.0
cchardet==2.*
aiodns==2.*
beautifulsoup4==4.*
loguru==0.5.3
requests==2.*
pytest==5.*
pytest-asyncio==0.14.0
pymorphy2==0.8
pymorphy2-dicts==2.*
DAWG-Python==0.7.*
